<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>biotin</string>
		<key>value</key>
		<integer>300</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>calcium</string>
		<key>value</key>
		<integer>1000</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>carbohydrates</string>
		<key>value</key>
		<integer>300</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>key</key>
		<string>chloride</string>
		<key>value</key>
		<integer>3400</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cholesterol</string>
		<key>value</key>
		<integer>300</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>chromium</string>
		<key>value</key>
		<integer>120</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>copper</string>
		<key>value</key>
		<integer>2</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>energy</string>
		<key>value</key>
		<integer>8400</integer>
		<key>unit</key>
		<string>kJ</string>
	</dict>
	<dict>
		<key>key</key>
		<string>energy-kcal</string>
		<key>value</key>
		<integer>8400</integer>
		<key>unit</key>
		<string>kJ</string>
	</dict>
	<dict>
		<key>key</key>
		<string>energy-from-fat</string>
		<key>value</key>
		<integer>8400</integer>
		<key>unit</key>
		<string>kJ</string>
	</dict>
	<dict>
		<key>key</key>
		<string>fat</string>
		<key>value</key>
		<integer>65</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>key</key>
		<string>fiber</string>
		<key>value</key>
		<integer>25</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>key</key>
		<string>trans-fat</string>
		<key>value</key>
		<integer>2</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>key</key>
		<string>iodine</string>
		<key>value</key>
		<integer>150</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>iron</string>
		<key>value</key>
		<integer>18</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>magnesium</string>
		<key>value</key>
		<integer>400</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>manganese</string>
		<key>value</key>
		<integer>2</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>molybdenum</string>
		<key>value</key>
		<integer>75</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>pantothenic-acid</string>
		<key>value</key>
		<integer>10</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>phosphorus</string>
		<key>value</key>
		<integer>1</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>key</key>
		<string>potassium</string>
		<key>value</key>
		<integer>3500</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>proteins</string>
		<key>value</key>
		<integer>50</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>key</key>
		<string>salt</string>
		<key>value</key>
		<integer>6</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>key</key>
		<string>saturated-fat</string>
		<key>value</key>
		<integer>20</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>key</key>
		<string>selenium</string>
		<key>value</key>
		<integer>70</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>sodium</string>
		<key>value</key>
		<integer>2400</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>sugars</string>
		<key>value</key>
		<integer>25</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>key</key>
		<string>vitamin-a</string>
		<key>value</key>
		<integer>900</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>vitamin-b1</string>
		<key>value</key>
		<integer>1500</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>vitamin-b12</string>
		<key>value</key>
		<integer>6</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>vitamin-b2</string>
		<key>value</key>
		<integer>1700</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>vitamin-b3</string>
		<key>value</key>
		<integer>20</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>vitamin-pp</string>
		<key>value</key>
		<integer>20</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>vitamin-b6</string>
		<key>value</key>
		<integer>2</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>vitamin-b9</string>
		<key>value</key>
		<integer>400</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>vitamin-c</string>
		<key>value</key>
		<integer>60</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>vitamin-d</string>
		<key>value</key>
		<integer>10</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>vitamin-e</string>
		<key>value</key>
		<integer>15</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>vitamin-k</string>
		<key>value</key>
		<integer>80</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<dict>
		<key>key</key>
		<string>zinc</string>
		<key>value</key>
		<integer>15</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
</array>
</plist>
