<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>en:#minerals</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string></string>
			</array>
			<key>de</key>
			<array>
				<string>Minerals</string>
			</array>
			<key>en</key>
			<array>
				<string>Minerals</string>
			</array>
			<key>fr</key>
			<array>
				<string>Sels minéraux</string>
			</array>
			<key>nl</key>
			<array>
				<string>Mineralen</string>
			</array>
		</dict>
	</dict>
	<key>en:#vitamins</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>none</string>
			</array>
			<key>de</key>
			<array>
				<string>Vitamine</string>
			</array>
			<key>en</key>
			<array>
				<string>Vitamin</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vitamines</string>
			</array>
			<key>nl</key>
			<array>
				<string>Vitamines</string>
			</array>
		</dict>
	</dict>
	<key>en:alcohol</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>%</string>
			</array>
			<key>de</key>
			<array>
				<string>Alkohol</string>
			</array>
			<key>en</key>
			<array>
				<string>Alcohol</string>
			</array>
			<key>fr</key>
			<array>
				<string>Alcool</string>
			</array>
			<key>nl</key>
			<array>
				<string>Alcohol</string>
			</array>
		</dict>
	</dict>
	<key>en:alpha-linolenic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Alpha-linolenic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide alpha-linolénique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Alfa-linoleenzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:arachidic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Arachidic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide arachidique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Arachidinezuur</string>
			</array>
		</dict>
	</dict>
	<key>en:arachidonic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Arachidonic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide arachidonique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Arachidonzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:aus-units</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string></string>
			</array>
			<key>en</key>
			<array>
				<string>AUS units</string>
			</array>
		</dict>
	</dict>
	<key>en:behenic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Behenic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide béhénique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Beheenzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:beta-carotene</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Beta-Carotin</string>
			</array>
			<key>en</key>
			<array>
				<string>Beta carotene</string>
			</array>
			<key>fr</key>
			<array>
				<string>Bêta carotène</string>
			</array>
			<key>nl</key>
			<array>
				<string>Bêta-caroteen</string>
			</array>
		</dict>
	</dict>
	<key>en:bicarbonate</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Bikarbonat</string>
			</array>
			<key>en</key>
			<array>
				<string>Bicarbonate</string>
			</array>
			<key>fr</key>
			<array>
				<string>Bicarbonate</string>
			</array>
			<key>nl</key>
			<array>
				<string>Bicarbonaat</string>
			</array>
		</dict>
	</dict>
	<key>en:biotin</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Biotin (Vitamin B8 / B7 / H)</string>
			</array>
			<key>en</key>
			<array>
				<string>Biotin</string>
			</array>
			<key>fr</key>
			<array>
				<string>Biotine (Vitamine B8 / B7 / H)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Biotine</string>
			</array>
		</dict>
	</dict>
	<key>en:butyric-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Butyric acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide butyrique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Boterzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:caffeine</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>en</key>
			<array>
				<string>Caffeine</string>
			</array>
			<key>fr</key>
			<array>
				<string>Caféine / Théine</string>
			</array>
			<key>nl</key>
			<array>
				<string>Cafeïne</string>
			</array>
		</dict>
	</dict>
	<key>en:calcium</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Kalzium</string>
			</array>
			<key>en</key>
			<array>
				<string>Calcium</string>
			</array>
			<key>fr</key>
			<array>
				<string>Calcium</string>
			</array>
			<key>nl</key>
			<array>
				<string>Calcium</string>
			</array>
		</dict>
	</dict>
	<key>en:capric-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Capric acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide caprique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Decaanzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:caproic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Caproic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide caproïque</string>
			</array>
			<key>nl</key>
			<array>
				<string>Capronzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:caprylic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Caprylic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide caproïque</string>
			</array>
			<key>nl</key>
			<array>
				<string>Octaanzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:carbohydrates</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Kohlenhydrate</string>
			</array>
			<key>en</key>
			<array>
				<string>Carbohydrate</string>
			</array>
			<key>fr</key>
			<array>
				<string>Glucides</string>
			</array>
			<key>nl</key>
			<array>
				<string>Koolhydraten</string>
			</array>
		</dict>
	</dict>
	<key>en:carbon-footprint</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Carbon Footprint / CO2-Emissionen</string>
			</array>
			<key>en</key>
			<array>
				<string>Carbon footprint / CO2 emissions</string>
			</array>
			<key>fr</key>
			<array>
				<string>Empreinte carbone / émissions de CO2</string>
			</array>
			<key>nl</key>
			<array>
				<string>Ecologische voetafdruk / CO2-uitstoot</string>
			</array>
		</dict>
	</dict>
	<key>en:casein</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Casein</string>
			</array>
			<key>en</key>
			<array>
				<string>casein</string>
			</array>
			<key>fr</key>
			<array>
				<string>Caséine</string>
			</array>
			<key>nl</key>
			<array>
				<string>Caseïne</string>
			</array>
		</dict>
	</dict>
	<key>en:cerotic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Cerotic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide cérotique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Cerotinezuur</string>
			</array>
		</dict>
	</dict>
	<key>en:chloride</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Chlor</string>
			</array>
			<key>en</key>
			<array>
				<string>Chloride</string>
			</array>
			<key>fr</key>
			<array>
				<string>Chlorure</string>
			</array>
			<key>nl</key>
			<array>
				<string>Chloor</string>
			</array>
		</dict>
	</dict>
	<key>en:chlorophyl</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Chlorophyll</string>
			</array>
			<key>en</key>
			<array>
				<string>Chlorophyl</string>
			</array>
			<key>nl</key>
			<array>
				<string>Chlorofyl</string>
			</array>
		</dict>
	</dict>
	<key>en:cholesterol</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Cholesterin</string>
			</array>
			<key>en</key>
			<array>
				<string>Cholesterol</string>
			</array>
			<key>fr</key>
			<array>
				<string>Cholestérol</string>
			</array>
			<key>nl</key>
			<array>
				<string>Cholesterol</string>
			</array>
		</dict>
	</dict>
	<key>en:chromium</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Chrom</string>
			</array>
			<key>en</key>
			<array>
				<string>Chromium</string>
			</array>
			<key>fr</key>
			<array>
				<string>Chrome</string>
			</array>
			<key>nl</key>
			<array>
				<string>Chroom</string>
			</array>
		</dict>
	</dict>
	<key>en:cocoa</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Kakao (Minimum)</string>
			</array>
			<key>en</key>
			<array>
				<string>Cocoa (minimum)</string>
			</array>
			<key>fr</key>
			<array>
				<string>Cacao (minimum)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Cacao (minimum)</string>
			</array>
		</dict>
	</dict>
	<key>en:collagen-meat-protein-ratio</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string></string>
			</array>
			<key>de</key>
			<array>
				<string>Verhältnis Kollagen/Eiweiß</string>
			</array>
			<key>en</key>
			<array>
				<string>Collagen/Meat protein ratio (maximum)</string>
			</array>
			<key>fr</key>
			<array>
				<string>Rapport collagène sur protéines de viande (maximum)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Verhouding collageen/eiwitten uit vlees (maximum)</string>
			</array>
		</dict>
	</dict>
	<key>en:copper</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Kupfer</string>
			</array>
			<key>en</key>
			<array>
				<string>Copper</string>
			</array>
			<key>fr</key>
			<array>
				<string>Cuivre</string>
			</array>
			<key>nl</key>
			<array>
				<string>Koper</string>
			</array>
		</dict>
	</dict>
	<key>en:dihomo-gamma-linolenic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Dihomo-gamma-linolenic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide dihomo-gamma-linolénique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Dihomo-gammalinoleenzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:docosahexaenoic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Docosahexaenoic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide docosahexaénoïque</string>
			</array>
			<key>nl</key>
			<array>
				<string>Docosahexaeenzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:eicosapentaenoic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Eicosapentaenoic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide eicosapentaénoïque</string>
			</array>
			<key>nl</key>
			<array>
				<string>Eicosapentaeenzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:elaidic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Elaidic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide élaïdique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Elaïdinezuur</string>
			</array>
		</dict>
	</dict>
	<key>en:energy</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>kJ</string>
			</array>
			<key>de</key>
			<array>
				<string>Energie</string>
			</array>
			<key>en</key>
			<array>
				<string>Energy</string>
			</array>
			<key>fr</key>
			<array>
				<string>Énergie</string>
			</array>
			<key>nl</key>
			<array>
				<string>Energie</string>
			</array>
		</dict>
	</dict>
	<key>en:energy-from-fat</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>kJ</string>
			</array>
			<key>en</key>
			<array>
				<string>Energy from fat</string>
			</array>
			<key>fr</key>
			<array>
				<string>Énergie provenant des graisses</string>
			</array>
		</dict>
	</dict>
	<key>en:erucic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Erucic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide érucique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Erucazuur</string>
			</array>
		</dict>
	</dict>
	<key>en:fat</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Fett</string>
			</array>
			<key>en</key>
			<array>
				<string>Fat</string>
			</array>
			<key>fr</key>
			<array>
				<string>Matières grasses / Lipides</string>
			</array>
			<key>nl</key>
			<array>
				<string>Vetten</string>
			</array>
		</dict>
	</dict>
	<key>en:fiber</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Ballaststoffe</string>
			</array>
			<key>en</key>
			<array>
				<string>Dietary fiber</string>
			</array>
			<key>fr</key>
			<array>
				<string>Fibres alimentaires</string>
			</array>
			<key>nl</key>
			<array>
				<string>Vezels</string>
			</array>
		</dict>
	</dict>
	<key>en:fluoride</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Fluor</string>
			</array>
			<key>en</key>
			<array>
				<string>Fluoride</string>
			</array>
			<key>fr</key>
			<array>
				<string>Fluorure</string>
			</array>
			<key>nl</key>
			<array>
				<string>Fluor</string>
			</array>
		</dict>
	</dict>
	<key>en:fructose</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Fruchtzucker</string>
			</array>
			<key>en</key>
			<array>
				<string>Fructose</string>
			</array>
			<key>fr</key>
			<array>
				<string>Fructose</string>
			</array>
			<key>nl</key>
			<array>
				<string>Fructose</string>
			</array>
		</dict>
	</dict>
	<key>en:fruits-vegetables-nuts</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>%</string>
			</array>
			<key>de</key>
			<array>
				<string>Obst - Gemüse und Nüsse (Minimum)</string>
			</array>
			<key>en</key>
			<array>
				<string>Fruits - vegetables and nuts (minimum)</string>
			</array>
			<key>fr</key>
			<array>
				<string>Fruits -  légumes et noix (minimum)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Fruit</string>
				<string> groenten en noten (minimum)</string>
			</array>
		</dict>
	</dict>
	<key>en:gamma-linolenic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Gamma-linolenic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide gamma-linolénique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Gamma-linoleenzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:glucose</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Traubenzucker</string>
			</array>
			<key>en</key>
			<array>
				<string>Glucose</string>
			</array>
			<key>fr</key>
			<array>
				<string>Glucose</string>
			</array>
			<key>nl</key>
			<array>
				<string>Glucose</string>
			</array>
		</dict>
	</dict>
	<key>en:gondoic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Gondoic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide gadoléique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Eicoseenzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:hydrogencarbonates</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>en</key>
			<array>
				<string>Hydrogen carbonates</string>
			</array>
			<key>fr</key>
			<array>
				<string>Hydrogenocarbonates</string>
			</array>
			<key>nl</key>
			<array>
				<string>Waterstofcarbonaten</string>
			</array>
		</dict>
	</dict>
	<key>en:ie-units</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string></string>
			</array>
			<key>en</key>
			<array>
				<string>IE units</string>
			</array>
		</dict>
	</dict>
	<key>en:insoluble-fiber</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>en</key>
			<array>
				<string>Insoluble fiber</string>
			</array>
			<key>fr</key>
			<array>
				<string>Fibres insolubles</string>
			</array>
		</dict>
	</dict>
	<key>en:iodine</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Jod</string>
			</array>
			<key>en</key>
			<array>
				<string>Iodine</string>
			</array>
			<key>fr</key>
			<array>
				<string>Iode</string>
			</array>
			<key>nl</key>
			<array>
				<string>Jodium</string>
			</array>
		</dict>
	</dict>
	<key>en:iron</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Eisen</string>
			</array>
			<key>en</key>
			<array>
				<string>Iron</string>
			</array>
			<key>fr</key>
			<array>
				<string>Fer</string>
			</array>
			<key>nl</key>
			<array>
				<string>IJzer</string>
			</array>
		</dict>
	</dict>
	<key>en:lactose</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>New item</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Laktose</string>
			</array>
			<key>en</key>
			<array>
				<string>Lactose</string>
			</array>
			<key>fr</key>
			<array>
				<string>Lactose</string>
			</array>
			<key>nl</key>
			<array>
				<string>Lactose</string>
			</array>
		</dict>
	</dict>
	<key>en:lauric-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Lauric acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide laurique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Laurinezuur</string>
			</array>
		</dict>
	</dict>
	<key>en:lignoceric-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Lignoceric acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide lignocérique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Lignocerinezuur</string>
			</array>
		</dict>
	</dict>
	<key>en:linoleic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Linoleic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide linoléique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Linolzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:magnesium</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Magnesium</string>
			</array>
			<key>en</key>
			<array>
				<string>Magnesium</string>
			</array>
			<key>fr</key>
			<array>
				<string>Magnésium</string>
			</array>
			<key>nl</key>
			<array>
				<string>Magnesium</string>
			</array>
		</dict>
	</dict>
	<key>en:maltodextrins</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>en</key>
			<array>
				<string>Maltodextrins</string>
			</array>
			<key>fr</key>
			<array>
				<string>Maltodextrines</string>
			</array>
			<key>nl</key>
			<array>
				<string>Maltodextrine</string>
			</array>
		</dict>
	</dict>
	<key>en:maltose</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Malzzucker</string>
			</array>
			<key>en</key>
			<array>
				<string>Maltose</string>
			</array>
			<key>fr</key>
			<array>
				<string>Maltose</string>
			</array>
			<key>nl</key>
			<array>
				<string>Maltose</string>
			</array>
		</dict>
	</dict>
	<key>en:manganese</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Mangan</string>
			</array>
			<key>en</key>
			<array>
				<string>Manganese</string>
			</array>
			<key>fr</key>
			<array>
				<string>Manganèse</string>
			</array>
			<key>nl</key>
			<array>
				<string>Mangaan</string>
			</array>
		</dict>
	</dict>
	<key>en:mead-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Mead acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide de Mead</string>
			</array>
			<key>nl</key>
			<array>
				<string>Meadzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:melissic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Melissic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide mélissique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Melissinezuur</string>
			</array>
		</dict>
	</dict>
	<key>en:molybdenum</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Molybdän</string>
			</array>
			<key>en</key>
			<array>
				<string>Molybdenum</string>
			</array>
			<key>fr</key>
			<array>
				<string>Molybdène</string>
			</array>
			<key>nl</key>
			<array>
				<string>Molybdeen</string>
			</array>
		</dict>
	</dict>
	<key>en:monounsaturated-fat</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Einfach ungesättigte Fettsäuren</string>
			</array>
			<key>en</key>
			<array>
				<string>Monounsaturated fat</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acides gras monoinsaturés</string>
			</array>
			<key>nl</key>
			<array>
				<string>Enkelvoudig onverzadigde vetzuren</string>
			</array>
		</dict>
	</dict>
	<key>en:montanic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Montanic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide montanique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Montaanzuur </string>
			</array>
		</dict>
	</dict>
	<key>en:myristic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Myristic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide myristique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Myristinezuur</string>
			</array>
		</dict>
	</dict>
	<key>en:nervonic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Nervonic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide nervonique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Nervonzuur</string>
			</array>
		</dict>
	</dict>
	<key>en:nitrates</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>en</key>
			<array>
				<string>Nitrates</string>
			</array>
			<key>fr</key>
			<array>
				<string>Nitrates</string>
			</array>
			<key>nl</key>
			<array>
				<string>Nitraten</string>
			</array>
		</dict>
	</dict>
	<key>en:nucleotides</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>New item</key>
			<array>
				<string></string>
			</array>
			<key>en</key>
			<array>
				<string>Nucleotides</string>
			</array>
			<key>fr</key>
			<array>
				<string>Nucléotides</string>
			</array>
			<key>nl</key>
			<array>
				<string>Nucleotiden</string>
			</array>
		</dict>
	</dict>
	<key>en:nutrition-grade</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>none</string>
			</array>
			<key>en</key>
			<array>
				<string>Nutrition grade</string>
			</array>
			<key>fr</key>
			<array>
				<string>Note nutritionnelle</string>
			</array>
		</dict>
	</dict>
	<key>en:nutrition-score-fr</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>none</string>
			</array>
			<key>en</key>
			<array>
				<string>Experimental nutrition score</string>
			</array>
			<key>fr</key>
			<array>
				<string>Score nutritionnel expérimental - France</string>
			</array>
			<key>nl</key>
			<array>
				<string>Experimentele voedingsscore</string>
			</array>
		</dict>
	</dict>
	<key>en:nutrition-score-uk</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>none</string>
			</array>
			<key>en</key>
			<array>
				<string>Nutrition score - UK</string>
			</array>
			<key>nl</key>
			<array>
				<string>Voedingsgraad</string>
			</array>
		</dict>
	</dict>
	<key>en:oleic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Oleic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide oléique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Oliezuur</string>
			</array>
		</dict>
	</dict>
	<key>en:omega-3-fat</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Omega-3-Fettsäuren</string>
			</array>
			<key>en</key>
			<array>
				<string>Omega 3 fatty acids</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acides gras Oméga 3</string>
			</array>
			<key>nl</key>
			<array>
				<string>Omega 3-vetzuren</string>
			</array>
		</dict>
	</dict>
	<key>en:omega-6-fat</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Omega-6-Fettsäuren</string>
			</array>
			<key>en</key>
			<array>
				<string>Omega 6 fatty acids</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acides gras Oméga 6</string>
			</array>
			<key>nl</key>
			<array>
				<string>Omega 6-vetzuren</string>
			</array>
		</dict>
	</dict>
	<key>en:omega-9-fat</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Omega-9-Fettsäuren</string>
			</array>
			<key>en</key>
			<array>
				<string>Omega 9 fatty acids</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acides gras Oméga 9</string>
			</array>
			<key>nl</key>
			<array>
				<string>Omega 9 vetzuren</string>
			</array>
		</dict>
	</dict>
	<key>en:palmitic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Palmitic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide palmitique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Palmitinezuur</string>
			</array>
		</dict>
	</dict>
	<key>en:pantothenic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Vitamin B5 (Pantothensäure)</string>
			</array>
			<key>en</key>
			<array>
				<string>Vitamin B5 (Pantothenic acid)</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vitamin B5 (Acide pantothénique)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Vitamin B5 (Pantotheenzuur)</string>
			</array>
		</dict>
	</dict>
	<key>en:ph</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>none</string>
			</array>
			<key>fr</key>
			<array>
				<string>pH</string>
			</array>
			<key>en</key>
			<array>
				<string>pH</string>
			</array>
			<key>nl</key>
			<array>
				<string>pH</string>
			</array>
		</dict>
	</dict>
	<key>en:phosphorus</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Phosphor</string>
			</array>
			<key>en</key>
			<array>
				<string>Phosphorus</string>
			</array>
			<key>fr</key>
			<array>
				<string>Phosphore</string>
			</array>
			<key>nl</key>
			<array>
				<string>Fosfor</string>
			</array>
		</dict>
	</dict>
	<key>en:polyols</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>mehrwertige Alkohole (Polyole)</string>
			</array>
			<key>en</key>
			<array>
				<string>Sugar alcohols (Polyols)</string>
			</array>
			<key>fr</key>
			<array>
				<string>Polyols</string>
			</array>
			<key>nl</key>
			<array>
				<string>Polyolen</string>
			</array>
		</dict>
	</dict>
	<key>en:polyunsaturated-fat</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Mehrfach ungesättigte Fettsäuren</string>
			</array>
			<key>en</key>
			<array>
				<string>Polyunsaturated fat</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acides gras polyinsaturés</string>
			</array>
			<key>nl</key>
			<array>
				<string>Meervoudig onverzadigde vetzuren</string>
			</array>
		</dict>
	</dict>
	<key>en:potassium</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Kalium</string>
			</array>
			<key>en</key>
			<array>
				<string>Potassium</string>
			</array>
			<key>fr</key>
			<array>
				<string>Potassium</string>
			</array>
			<key>nl</key>
			<array>
				<string>Kalium</string>
			</array>
		</dict>
	</dict>
	<key>en:proteins</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Eiweiß</string>
			</array>
			<key>en</key>
			<array>
				<string>Proteins</string>
			</array>
			<key>fr</key>
			<array>
				<string>Protéines</string>
			</array>
			<key>nl</key>
			<array>
				<string>Eiwitten</string>
			</array>
		</dict>
	</dict>
	<key>en:sa-units</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>none</string>
			</array>
			<key>en</key>
			<array>
				<string>SA units</string>
			</array>
		</dict>
	</dict>
	<key>en:salt</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Salz</string>
			</array>
			<key>en</key>
			<array>
				<string>Salt</string>
			</array>
			<key>fr</key>
			<array>
				<string>Sel</string>
			</array>
			<key>nl</key>
			<array>
				<string>Zout</string>
			</array>
		</dict>
	</dict>
	<key>en:salt-equivalent</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>en</key>
			<array>
				<string>Salt equivalent</string>
			</array>
			<key>fr</key>
			<array>
				<string>Equivalent en sel</string>
			</array>
			<key>nl</key>
			<array>
				<string>Equivalent in zout</string>
			</array>
		</dict>
	</dict>
	<key>en:saturated-fat</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>gesättigte Fettsäuren</string>
			</array>
			<key>en</key>
			<array>
				<string>Saturated fat</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acides gras saturés</string>
			</array>
			<key>nl</key>
			<array>
				<string>Verzadigde vetzuren</string>
			</array>
		</dict>
	</dict>
	<key>en:selenium</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Selen</string>
			</array>
			<key>en</key>
			<array>
				<string>Selenium</string>
			</array>
			<key>fr</key>
			<array>
				<string>Sélénium</string>
			</array>
			<key>nl</key>
			<array>
				<string>Seleen</string>
			</array>
		</dict>
	</dict>
	<key>en:serum-proteins</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Serum proteins</string>
			</array>
			<key>fr</key>
			<array>
				<string>Protéines sériques</string>
			</array>
			<key>nl</key>
			<array>
				<string>Plasmaproteïnen</string>
			</array>
		</dict>
	</dict>
	<key>en:silica</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Kieselerde</string>
			</array>
			<key>en</key>
			<array>
				<string>Silica</string>
			</array>
			<key>fr</key>
			<array>
				<string>Silice</string>
			</array>
			<key>nl</key>
			<array>
				<string>Silicium</string>
			</array>
		</dict>
	</dict>
	<key>en:sodium</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Natrium</string>
			</array>
			<key>en</key>
			<array>
				<string>Sodium</string>
			</array>
			<key>fr</key>
			<array>
				<string>Sodium</string>
			</array>
			<key>nl</key>
			<array>
				<string>Natrium</string>
			</array>
		</dict>
	</dict>
	<key>en:soluble-fiber</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>en</key>
			<array>
				<string>Soluble fiber</string>
			</array>
			<key>fr</key>
			<array>
				<string>Fibres solubles</string>
			</array>
		</dict>
	</dict>
	<key>en:starch</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Stärke</string>
			</array>
			<key>en</key>
			<array>
				<string>Starch</string>
			</array>
			<key>fr</key>
			<array>
				<string>Amidon</string>
			</array>
			<key>nl</key>
			<array>
				<string>Zetmeel</string>
			</array>
		</dict>
	</dict>
	<key>en:stearic-acid</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>en</key>
			<array>
				<string>Stearic acid</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acide stéarique</string>
			</array>
			<key>nl</key>
			<array>
				<string>Stearinezuur</string>
			</array>
		</dict>
	</dict>
	<key>en:sucrose</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Saccharose</string>
			</array>
			<key>en</key>
			<array>
				<string>Sucrose</string>
			</array>
			<key>fr</key>
			<array>
				<string>Saccharose</string>
			</array>
			<key>nl</key>
			<array>
				<string>Sucrose</string>
			</array>
		</dict>
	</dict>
	<key>en:sugars</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Zucker</string>
			</array>
			<key>en</key>
			<array>
				<string>Sugars</string>
			</array>
			<key>fr</key>
			<array>
				<string>Sucres</string>
			</array>
			<key>nl</key>
			<array>
				<string>Suikers</string>
			</array>
		</dict>
	</dict>
	<key>en:sulfates</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>en</key>
			<array>
				<string>Sulfates</string>
			</array>
			<key>fr</key>
			<array>
				<string>Sulfates</string>
			</array>
			<key>nl</key>
			<array>
				<string>Sulfaten</string>
			</array>
		</dict>
	</dict>
	<key>en:taurine</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Taurin</string>
			</array>
			<key>en</key>
			<array>
				<string>Taurine</string>
			</array>
			<key>fr</key>
			<array>
				<string>Taurine</string>
			</array>
			<key>nl</key>
			<array>
				<string>Taurine</string>
			</array>
		</dict>
	</dict>
	<key>en:trans-fat</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>g</string>
			</array>
			<key>de</key>
			<array>
				<string>Trans-Fettsäuren</string>
			</array>
			<key>en</key>
			<array>
				<string>Trans fat</string>
			</array>
			<key>fr</key>
			<array>
				<string>Acides gras trans</string>
			</array>
			<key>nl</key>
			<array>
				<string>Transvetten</string>
			</array>
		</dict>
	</dict>
	<key>en:uk-units</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>none</string>
			</array>
			<key>en</key>
			<array>
				<string>UK units</string>
			</array>
		</dict>
	</dict>
	<key>en:unite-alcool</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>none</string>
			</array>
			<key>fr</key>
			<array>
				<string>Unité alcool</string>
			</array>
		</dict>
	</dict>
	<key>en:vitamin-a</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Vitamin A (Retinol)</string>
			</array>
			<key>en</key>
			<array>
				<string>Vitamin A</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vitamine A (rétinol)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Vitamine A</string>
			</array>
		</dict>
	</dict>
	<key>en:vitamin-b1</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Vitamin B1 (Thiamin)</string>
			</array>
			<key>en</key>
			<array>
				<string>Vitamin B1 (Thiamin)</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vitamine B1 (Thiamine)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Vitamine B1 (Thiamine)</string>
			</array>
		</dict>
	</dict>
	<key>en:vitamin-b12</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Vitamin B12 (Cobalamin)</string>
			</array>
			<key>en</key>
			<array>
				<string>Vitamin B12 (cobalamin)</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vitamine B12 (cobalamine)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Vitamine B12</string>
			</array>
		</dict>
	</dict>
	<key>en:vitamin-b2</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Vitamin B2 (Riboflavin)</string>
			</array>
			<key>en</key>
			<array>
				<string>Vitamin B2 (Riboflavin)</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vitamine B2 (Riboflavine)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Vitamine B2 (Riboflavine)</string>
			</array>
		</dict>
	</dict>
	<key>en:vitamin-b6</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Vitamin B6 (Pyridoxin)</string>
			</array>
			<key>en</key>
			<array>
				<string>Vitamin B6 (Pyridoxin)</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vitamine B6 (Pyridoxine)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Vitamine B6</string>
			</array>
		</dict>
	</dict>
	<key>en:vitamin-b9</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Vitamin B9 (Folsäure)</string>
			</array>
			<key>en</key>
			<array>
				<string>Vitamin B9 (Folic acid / Folates)</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vitamine B9 (Acide folique)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Vitamine B9 (Foliumzuur)</string>
			</array>
		</dict>
	</dict>
	<key>en:vitamin-c</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Vitamin C (Ascorbinsäure)</string>
			</array>
			<key>en</key>
			<array>
				<string>Vitamin C (ascorbic acid)</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vitamine C (acide ascorbique)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Vitamine C</string>
			</array>
		</dict>
	</dict>
	<key>en:vitamin-d</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Vitamin D / D3 (Cholecalciferol)</string>
			</array>
			<key>en</key>
			<array>
				<string>Vitamin D</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vitamine D / D3 (cholécalciférol)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Vitamine D</string>
			</array>
		</dict>
	</dict>
	<key>en:vitamin-e</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Vitamin E (Tocopherol)</string>
			</array>
			<key>en</key>
			<array>
				<string>Vitamin E</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vitamine E (tocophérol)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Vitamine E</string>
			</array>
		</dict>
	</dict>
	<key>en:vitamin-k</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Vitamin K</string>
			</array>
			<key>en</key>
			<array>
				<string>Vitamin K</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vitamine K</string>
			</array>
			<key>nl</key>
			<array>
				<string>Vitamine K</string>
			</array>
		</dict>
	</dict>
	<key>en:vitamin-pp</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>mg</string>
			</array>
			<key>de</key>
			<array>
				<string>Vitamin B3 / Vitamin PP (Niacin)</string>
			</array>
			<key>en</key>
			<array>
				<string>Vitamin B3 / Vitamin PP (Niacin)</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vitamine B3 / Vitamine PP (Niacine)</string>
			</array>
			<key>nl</key>
			<array>
				<string>Niacine</string>
			</array>
		</dict>
	</dict>
	<key>en:zinc</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>unit</key>
			<array>
				<string>µg</string>
			</array>
			<key>de</key>
			<array>
				<string>Zink</string>
			</array>
			<key>en</key>
			<array>
				<string>Zinc</string>
			</array>
			<key>fr</key>
			<array>
				<string>Zinc</string>
			</array>
			<key>nl</key>
			<array>
				<string>Zink</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
