<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>en:biotin</key>
	<dict>
		<key>dailyValue</key>
		<integer>300</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<key>en:calcium</key>
	<dict>
		<key>dailyValue</key>
		<integer>1000</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<key>en:carbohydrates</key>
	<dict>
		<key>dailyValue</key>
		<integer>300</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<key>en:chloride</key>
	<dict>
		<key>dailyValue</key>
		<integer>3</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<key>en:cholesterol</key>
	<dict>
		<key>dailyValue</key>
		<integer>300</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<key>en:chromium</key>
	<dict>
		<key>dailyValue</key>
		<integer>120</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<key>en:copper</key>
	<dict>
		<key>dailyValue</key>
		<integer>2</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<key>en:fat</key>
	<dict>
		<key>dailyValue</key>
		<integer>65</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<key>en:fiber</key>
	<dict>
		<key>dailyValue</key>
		<integer>25</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<key>en:iodine</key>
	<dict>
		<key>dailyValue</key>
		<integer>150</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<key>en:iron</key>
	<dict>
		<key>dailyValue</key>
		<integer>18</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<key>en:magnesium</key>
	<dict>
		<key>dailyValue</key>
		<integer>400</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<key>en:manganese</key>
	<dict>
		<key>dailyValue</key>
		<integer>2</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<key>en:molybdenum</key>
	<dict>
		<key>dailyValue</key>
		<integer>75</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<key>en:pantothenic-acid</key>
	<dict>
		<key>dailyValue</key>
		<integer>10</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<key>en:phosphorus</key>
	<dict>
		<key>dailyValue</key>
		<integer>1</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<key>en:potassium</key>
	<dict>
		<key>dailyValue</key>
		<integer>3500</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<key>en:proteins</key>
	<dict>
		<key>dailyValue</key>
		<integer>50</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<key>en:saturated-fat</key>
	<dict>
		<key>dailyValue</key>
		<integer>20</integer>
		<key>unit</key>
		<string>g</string>
	</dict>
	<key>en:selenium</key>
	<dict>
		<key>dailyValue</key>
		<integer>70</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<key>en:sodium</key>
	<dict>
		<key>dailyValue</key>
		<integer>2400</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<key>en:vitamin-a</key>
	<dict>
		<key>dailyValue</key>
		<integer>5000</integer>
		<key>unit</key>
		<string>IU</string>
	</dict>
	<key>en:vitamin-b1</key>
	<dict>
		<key>dailyValue</key>
		<integer>1500</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<key>en:vitamin-b12</key>
	<dict>
		<key>dailyValue</key>
		<integer>6</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<key>en:vitamin-b2</key>
	<dict>
		<key>dailyValue</key>
		<integer>1700</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<key>en:vitamin-pp</key>
	<dict>
		<key>dailyValue</key>
		<integer>20</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<key>en:vitamin-b6</key>
	<dict>
		<key>dailyValue</key>
		<integer>2</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<key>en:vitamin-b9</key>
	<dict>
		<key>dailyValue</key>
		<integer>400</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<key>en:vitamin-c</key>
	<dict>
		<key>dailyValue</key>
		<integer>60</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<key>en:vitamin-d</key>
	<dict>
		<key>dailyValue</key>
		<integer>400</integer>
		<key>unit</key>
		<string>IU</string>
	</dict>
	<key>en:vitamin-e</key>
	<dict>
		<key>dailyValue</key>
		<integer>30</integer>
		<key>unit</key>
		<string>IU</string>
	</dict>
	<key>en:vitamin-k</key>
	<dict>
		<key>dailyValue</key>
		<integer>80</integer>
		<key>unit</key>
		<string>µg</string>
	</dict>
	<key>en:zinc</key>
	<dict>
		<key>dailyValue</key>
		<integer>15</integer>
		<key>unit</key>
		<string>mg</string>
	</dict>
</dict>
</plist>
