<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>en:brands-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Marken ausgefüllt</string>
			</array>
			<key>en</key>
			<array>
				<string>Brands completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Marques complétées</string>
			</array>
			<key>nl</key>
			<array>
				<string>Merken ingevuld</string>
			</array>
		</dict>
	</dict>
	<key>en:brands-to-be-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Marken ausfüllen</string>
			</array>
			<key>en</key>
			<array>
				<string>Brands to be completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Marques à compléter</string>
			</array>
			<key>nl</key>
			<array>
				<string>Merken invullen</string>
			</array>
		</dict>
	</dict>
	<key>en:categories-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Kategorien ausgefüllt</string>
			</array>
			<key>en</key>
			<array>
				<string>Categories completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Catégories complétées</string>
			</array>
			<key>nl</key>
			<array>
				<string>Categorieën ingevuld</string>
			</array>
		</dict>
	</dict>
	<key>en:categories-to-be-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Kategorien ausfüllen</string>
			</array>
			<key>en</key>
			<array>
				<string>Categories to be completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Catégories à compléter</string>
			</array>
			<key>nl</key>
			<array>
				<string>Categorieën invullen</string>
			</array>
		</dict>
	</dict>
	<key>en:characteristics-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Merkmale ausgefüllt</string>
			</array>
			<key>en</key>
			<array>
				<string>Characteristics completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Caractéristiques complétées</string>
			</array>
			<key>nl</key>
			<array>
				<string>Eigenschappen ingevuld</string>
			</array>
		</dict>
	</dict>
	<key>en:characteristics-to-be-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Merkmale ausfüllen</string>
			</array>
			<key>en</key>
			<array>
				<string>Characteristics to be completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Caractéristiques à compléter</string>
			</array>
			<key>nl</key>
			<array>
				<string>Eigenschappen invullen</string>
			</array>
		</dict>
	</dict>
	<key>en:checked</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Geprüft</string>
			</array>
			<key>en</key>
			<array>
				<string>Checked</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vérifié</string>
			</array>
			<key>nl</key>
			<array>
				<string>Gecontroleerd</string>
			</array>
		</dict>
	</dict>
	<key>en:complete</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Ausgefüllt</string>
			</array>
			<key>en</key>
			<array>
				<string>Complete</string>
			</array>
			<key>fr</key>
			<array>
				<string>Complet</string>
			</array>
			<key>nl</key>
			<array>
				<string>Volledig</string>
			</array>
		</dict>
	</dict>
	<key>en:empty</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Leer</string>
			</array>
			<key>en</key>
			<array>
				<string>Empty</string>
			</array>
			<key>fr</key>
			<array>
				<string>Vide</string>
			</array>
			<key>nl</key>
			<array>
				<string>Leeg</string>
			</array>
		</dict>
	</dict>
	<key>en:expiration-date-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Verbrauchsdatum ausgefüllt</string>
			</array>
			<key>en</key>
			<array>
				<string>Expiration date completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Date limite complétée</string>
			</array>
			<key>nl</key>
			<array>
				<string>Houdbaarheidsdatum ingevuld</string>
			</array>
		</dict>
	</dict>
	<key>en:expiration-date-to-be-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Verbrauchsdatum ausfüllen</string>
			</array>
			<key>en</key>
			<array>
				<string>Expiration date to be completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Date limite à compléter</string>
			</array>
			<key>nl</key>
			<array>
				<string>Houdbaarheidsdatum invullen</string>
			</array>
		</dict>
	</dict>
	<key>en:ingredients-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Zutaten ausgefüllt</string>
			</array>
			<key>en</key>
			<array>
				<string>Ingredients completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Ingrédients complétés</string>
			</array>
			<key>nl</key>
			<array>
				<string>Ingrediënten ingevuld</string>
			</array>
		</dict>
	</dict>
	<key>en:ingredients-to-be-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Zutaten ausfüllen</string>
			</array>
			<key>en</key>
			<array>
				<string>Ingredients to be completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Ingrédients à compléter</string>
			</array>
			<key>nl</key>
			<array>
				<string>Ingrediënten invullen</string>
			</array>
		</dict>
	</dict>
	<key>en:nutrition-facts-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Nährwertinformationen ausgefüllt</string>
			</array>
			<key>en</key>
			<array>
				<string>Nutrition facts completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Informations nutritionnelles complétées</string>
			</array>
			<key>nl</key>
			<array>
				<string>Voedingswaarden ingevuld</string>
			</array>
		</dict>
	</dict>
	<key>en:nutrition-facts-to-be-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Nährwertinformationen ausfüllen</string>
			</array>
			<key>en</key>
			<array>
				<string>Nutrition facts to be completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Informations nutritionnelles à compléter</string>
			</array>
			<key>nl</key>
			<array>
				<string>Voedingswaarden invullen</string>
			</array>
		</dict>
	</dict>
	<key>en:packaging-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Verpackung ausgefüllt</string>
			</array>
			<key>en</key>
			<array>
				<string>Packaging completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Emballage complété</string>
			</array>
			<key>nl</key>
			<array>
				<string>Verpakking ingevuld</string>
			</array>
		</dict>
	</dict>
	<key>en:packaging-to-be-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Verpackung ausfüllen</string>
			</array>
			<key>en</key>
			<array>
				<string>Packaging to be completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Emballage à compléter</string>
			</array>
			<key>nl</key>
			<array>
				<string>Verpakking invullen</string>
			</array>
		</dict>
	</dict>
	<key>en:photos-to-be-uploaded</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Bilder hochladen</string>
			</array>
			<key>en</key>
			<array>
				<string>Photos to be uploaded</string>
			</array>
			<key>fr</key>
			<array>
				<string>Photos à envoyer</string>
			</array>
			<key>nl</key>
			<array>
				<string>Foto&apos;s up te loaden</string>
			</array>
		</dict>
	</dict>
	<key>en:photos-to-be-validated</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Bilder in Prüfung</string>
			</array>
			<key>en</key>
			<array>
				<string>Photos to be validated</string>
			</array>
			<key>fr</key>
			<array>
				<string>Photos à valider</string>
			</array>
			<key>nl</key>
			<array>
				<string>Foto&apos;s te controleren</string>
			</array>
		</dict>
	</dict>
	<key>en:photos-uploaded</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Bilder hochgeladen</string>
			</array>
			<key>en</key>
			<array>
				<string>Photos uploaded</string>
			</array>
			<key>fr</key>
			<array>
				<string>Photos envoyées</string>
			</array>
			<key>nl</key>
			<array>
				<string>Foto&apos;s geüpload</string>
			</array>
		</dict>
	</dict>
	<key>en:photos-validated</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Bilder geprüft</string>
			</array>
			<key>en</key>
			<array>
				<string>Photos validated</string>
			</array>
			<key>fr</key>
			<array>
				<string>Photos validées</string>
			</array>
			<key>nl</key>
			<array>
				<string>Foto&apos;s gecontroleerd</string>
			</array>
		</dict>
	</dict>
	<key>en:product-name-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Produktname ausgefüllt</string>
			</array>
			<key>en</key>
			<array>
				<string>Product name completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Nom du produit complété</string>
			</array>
			<key>nl</key>
			<array>
				<string>Productnaam ingevuld</string>
			</array>
		</dict>
	</dict>
	<key>en:product-name-to-be-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Produktname ausfüllen</string>
			</array>
			<key>en</key>
			<array>
				<string>Product name to be completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Nom du produit à compléter</string>
			</array>
			<key>nl</key>
			<array>
				<string>Productnaam invullen</string>
			</array>
		</dict>
	</dict>
	<key>en:quantity-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Menge ausgefüllt</string>
			</array>
			<key>en</key>
			<array>
				<string>Quantity completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Quantité complétée</string>
			</array>
			<key>nl</key>
			<array>
				<string>Hoeveelheid ingevuld</string>
			</array>
		</dict>
	</dict>
	<key>en:quantity-to-be-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Menge ausfüllen</string>
			</array>
			<key>en</key>
			<array>
				<string>Quantity to be completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>Quantité à compléter</string>
			</array>
			<key>nl</key>
			<array>
				<string>Hoeveelheid invullen</string>
			</array>
		</dict>
	</dict>
	<key>en:to-be-checked</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Zu prüfen</string>
			</array>
			<key>en</key>
			<array>
				<string>To be checked</string>
			</array>
			<key>fr</key>
			<array>
				<string>A vérifier</string>
			</array>
			<key>nl</key>
			<array>
				<string>Te controleren</string>
			</array>
		</dict>
	</dict>
	<key>en:to-be-completed</key>
	<dict>
		<key>Languages</key>
		<dict>
			<key>de</key>
			<array>
				<string>Auszufüllen</string>
			</array>
			<key>en</key>
			<array>
				<string>To be completed</string>
			</array>
			<key>fr</key>
			<array>
				<string>A compléter</string>
			</array>
			<key>nl</key>
			<array>
				<string>Aan te vullen</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
